## Analisis de Datos: Tendencia de Victimas a Nivel Nacional a 1 año por Desapariciones

De acuerdo a los datos abiertos de la fiscalia se pueden agrupar la cantidad de victimas por año de hecho referentes al delito asociado que en nuestro caso es el secuestro y desapariciones

El objetivo de este notebook es entrenar una red neuronal para encontrar la tendencia y predecir 5 años a futuro el numero de victimas por año

### Cantidad de Victimas por Año

In [1]:
import numpy as np
import pandas as pd

import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from tensorflow.keras import losses
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
# Conteo de Víctimas por año y municipio
dfSecuestros = pd.read_csv('ConteoVictimasDesapariciones.csv')
# Conteo de victimas por año de hecho
dfSecuestros[['ANIO_HECHO','TOTAL_VICTIMAS']].groupby('ANIO_HECHO').sum()

              TOTAL_VICTIMAS
ANIO_HECHO
1968                       1
1976                       1
1977                       1
1978                       2
1979                       5
1980                      21
1981                      34
1982                      69
1983                      54
1984                      79
1985                     312
1986                     255
1987                     277
1988                     370
1989                     581
1990                     566
1991                     492
1992                     519
1993                     512
1994                     598
1995                     739
1996                     882
1997                    1314
1998                    1452
1999                    1915
2000                    2625
2001                    3048
2002                    4320
2003                    3027
2004                    2753
2005                    2850
2006                    4193
2007                   14979
2008                    6219
2009                    5096
2010                    5349
2011                    5079
2012                    4222
2013                    4120
2014                    3527
2015                    2967
2016                    2818
2017                    2806
2018                    2813
2019                    2333
2020                     279
SIN REGISTRO            2272

### DataFrame 5 a 1 años

En este dataframe se representa lo siguiente:
- Input_0 -> Input_4 = Victimas por año en 5 años (ej: 1982 a 1986)
- Output_0 = Victimas en el año siguiente (ej: 1987)

In [4]:
# Conteo de Víctimas por año y municipio
dfVictimasAnios = pd.read_csv('DataSetDesapariciones5x1.csv')
dfVictimasAnios

    Input_0  Input_1  Input_2  Input_3  Input_4  Output_0
0         1        1        1        2        5        21
1         1        1        2        5       21        34
2         1        2        5       21       34        69
3         2        5       21       34       69        54
4         5       21       34       69       54        79
5        21       34       69       54       79       312
6        34       69       54       79      312       255
7        69       54       79      312      255       277
8        54       79      312      255      277       370
9        79      312      255      277      370       581
10      312      255      277      370      581       566
11      255      277      370      581      566       492
12      277      370      581      566      492       519
13      370      581      566      492      519       512
14      581      566      492      519      512       598
15      566      492      519      512      598       739
16      492      519      512      598      739       882
17      519      512      598      739      882      1314
18      512      598      739      882     1314      1452
19      598      739      882     1314     1452      1915
20      739      882     1314     1452     1915      2625
21      882     1314     1452     1915     2625      3048
22     1314     1452     1915     2625     3048      4320
23     1452     1915     2625     3048     4320      3027
24     1915     2625     3048     4320     3027      2753
25     2625     3048     4320     3027     2753      2850
26     3048     4320     3027     2753     2850      4193
27     4320     3027     2753     2850     4193     14979
28     3027     2753     2850     4193    14979      6219
29     2753     2850     4193    14979     6219      5096
30     2850     4193    14979     6219     5096      5349
31     4193    14979     6219     5096     5349      5079
32    14979     6219     5096     5349     5079      4222
33     6219     5096     5349     5079     4222      4120
34     5096     5349     5079     4222     4120      3527
35     5349     5079     4222     4120     3527      2967
36     5079     4222     4120     3527     2967      2818
37     4222     4120     3527     2967     2818      2806
38     4120     3527     2967     2818     2806      2813
39     3527     2967     2818     2806     2813      2333
40     2967     2818     2806     2813     2333       279

### Dividir el DataFrame en los conjuntos de prueba, validación y test

In [5]:
inputs = ['Input_{}'.format(i) for i in range(5)]
target_column = ['Output_0'] 

#predictors = list(set(list(df.columns))-set(target_column))
#df[predictors] = df[predictors]/df[predictors].max()
#df.describe()

X = dfVictimasAnios[inputs]
y = dfVictimasAnios['Output_0']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
print(X_train.shape); print(X_test.shape)

(28, 5)
(13, 5)

### DataFrame a DataSet de Tensorflow

In [6]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(X,Y, shuffle=True, batch_size=32):
    ds = tf.data.Dataset.from_tensor_slices((dict(X), Y))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(X))
    ds = ds.batch(batch_size)
    return ds

In [7]:
# Tamaño del numero de datos por iteración que se necesitan para entrenar y probar el algoritmo
batch_size = 4
train_ds = df_to_dataset(X_train,y_train, batch_size=batch_size)
test_ds = df_to_dataset(X_test,y_test, shuffle=False, batch_size=batch_size)

### Construyendo el Modelo

In [8]:
feature_columns = []

# Columnas Numericas
numericas = ['Input_{}'.format(i) for i in range(5)]
for header in numericas:
    feature_columns.append(feature_column.numeric_column(header))
    
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)

In [25]:
model = tf.keras.Sequential([
    feature_layer,
    #layers.Dense(100, activation='relu'),
    layers.Dense(1)
])

model.compile(optimizer='adam',loss=losses.mean_squared_error,metrics=['mean_squared_error'])

model.fit(train_ds,epochs=20)
#model.summary()

Train for 7 steps
Epoch 1/20
7/7 [==============================] - 0s 30ms/step - loss: 16427207.6429 - mean_squared_error: 16427208.0000
Epoch 2/20
7/7 [==============================] - 0s 3ms/step - loss: 15906148.0162 - mean_squared_error: 15906147.0000
Epoch 3/20
7/7 [==============================] - 0s 3ms/step - loss: 15438693.4107 - mean_squared_error: 15438694.0000
Epoch 4/20
7/7 [==============================] - 0s 3ms/step - loss: 15079729.2679 - mean_squared_error: 15079728.0000
Epoch 5/20
7/7 [==============================] - 0s 3ms/step - loss: 14715086.0000 - mean_squared_error: 14715086.0000
Epoch 6/20
7/7 [==============================] - 0s 3ms/step - loss: 14363784.7723 - mean_squared_error: 14363785.0000
Epoch 7/20
7/7 [==============================] - 0s 2ms/step - loss: 13978557.3438 - mean_squared_error: 13978559.0000
Epoch 8/20
7/7 [==============================] - 0s 3ms/step - loss: 13636760.6964 - mean_squared_error: 13636761.0000
Epoch 9/20
7/7 [==============================] - 0s 3ms/step - loss: 13368801.3304 - mean_squared_error: 13368801.0000
Epoch 10/20
7/7 [==============================] - 0s 4ms/step - loss: 13009762.8594 - mean_squared_error: 13009763.0000
Epoch 11/20
7/7 [==============================] - 0s 4ms/step - loss: 12744910.9643 - mean_squared_error: 12744911.0000
Epoch 12/20
7/7 [==============================] - 0s 3ms/step - loss: 12526988.4464 - mean_squared_error: 12526989.0000
Epoch 13/20
7/7 [==============================] - 0s 3ms/step - loss: 12286691.4062 - mean_squared_error: 12286691.0000
Epoch 14/20
7/7 [==============================] - 0s 3ms/step - loss: 12012991.3036 - mean_squared_error: 12012992.0000
Epoch 15/20
7/7 [==============================] - 0s 3ms/step - loss: 11818366.9375 - mean_squared_error: 11818368.0000
Epoch 16/20
7/7 [==============================] - 0s 4ms/step - loss: 11624675.1629 - mean_squared_error: 11624675.0000
Epoch 17/20
7/7 [==============================] - 0s 4ms/step - loss: 11444085.3214 - mean_squared_error: 11444087.0000
Epoch 18/20
7/7 [==============================] - 0s 4ms/step - loss: 11221788.4286 - mean_squared_error: 11221789.0000
Epoch 19/20
7/7 [==============================] - 0s 3ms/step - loss: 11069394.6607 - mean_squared_error: 11069395.0000
Epoch 20/20
7/7 [==============================] - 0s 3ms/step - loss: 10881534.4107 - mean_squared_error: 10881534.0000

In [26]:
pred= model.predict(test_ds)
print(np.sqrt(mean_squared_error(y_test,pred)))

3980.3445638499034